/* Fade in left to right */
.fadein_l2r { 
    opacity: 0;
    animation: fadeinl2r 2s forwards;
}

@keyframes fadeinl2r {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Fade in right to left */
.fadein_r2l {
    opacity: 0;
    animation: fadeinr2l 2s forwards;
}

@keyframes fadeinr2l {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Fade in only */
.fadein {
    opacity: 0;
    animation: fadein 2s forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade in top to bottom */
.fadein_t2b {
    opacity: 0;
    animation: fadeint2b 2s forwards;
}

@keyframes fadeint2b {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade in bottom to top */
.fadein_b2t {
    opacity: 0;
    animation: fadeinb2t 2s forwards;
}

@keyframes fadeinb2t {
    from {
        opacity: 0;
        transform: translateY(+100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}