.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* width: 100%; */

  border-top: 2px solid gray;
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column !important;
  }
}

.footer.dark {
  background-color: black;
}
  
.copyRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  width: 50%;
}

.copyRight.dark {
  color: white;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contactContainer p{
  color: black;
  font-weight: 700;
}

.contactContainer.dark p {
  color: white;
}

.contact {
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: 700;
  width: 480px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
}

.contact a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.contactItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 40%; */
  width: 25px;
}


/* dark icon colors: #0288D1 */

/*
  LinkedIn icons
*/
.contactItem img[alt="LinkedIn"] {
  /* content: url('/icons/linkedin-normal.svg'); */
  content: url('/icons/linkedin-hover.svg');
  opacity: 0.5;
}

.contactItem img[alt="LinkedIn"]:hover {
  opacity: 1.0;
}

.contactItem.dark img[alt="LinkedIn"] {
  content: url('/icons/linkedin-hover-dark.svg');
  opacity: 0.5;
}

.contactItem.dark img[alt="LinkedIn"]:hover {
  opacity: 1.0;
}


/*
  Instagram icons
*/
.contactItem img[alt="Instagram"] {
  /* content: url('/icons/instagram-normal.svg'); */
  content: url('/icons/instagram-hover.svg');
  opacity: 0.5;
}

.contactItem img[alt="Instagram"]:hover {
  opacity: 1.0;
}

.contactItem.dark img[alt="Instagram"] {
  content: url('/icons/instagram-hover-dark.svg');
  opacity: 0.5;
}

.contactItem.dark img[alt="Instagram"]:hover {
  opacity: 1.0;
}

/*
  Facebook icons
*/
.contactItem img[alt="Facebook"] {
  /* content: url('/icons/facebook-normal.svg'); */
  content: url('/icons/facebook-hover.svg');
  opacity: 0.5;
}

.contactItem img[alt="Facebook"]:hover {
  opacity: 1.0;
}

.contactItem.dark img[alt="Facebook"] {
  content: url('/icons/facebook-hover-dark.svg');
  opacity: 0.5;
}

.contactItem.dark img[alt="Facebook"]:hover {
  opacity: 1.0;
}

/*
  Wechat icons
*/
.contactItem img[alt="Wechat"] {
  /* content: url('/icons/wechat-normal.svg'); */
  content: url('/icons/wechat-hover.svg');
  opacity: 0.5;
}

.contactItem img[alt="Wechat"]:hover {
  opacity: 1.0;
}

.contactItem.dark img[alt="Wechat"] {
  content: url('/icons/wechat-hover-dark.svg');
  opacity: 0.5;
}

.contactItem.dark img[alt="Wechat"]:hover {
  opacity: 1.0;
}

/*
  Whatsapp icons #0FCA32
*/
.contactItem img[alt="Whatsapp"] {
  /* content: url('/icons/whatsapp-normal.svg'); */
  content: url('/icons/whatsapp-hover.svg');
  opacity: 0.5;
}

.contactItem img[alt="Whatsapp"]:hover {
  opacity: 1.0;
}

.contactItem.dark img[alt="Whatsapp"] {
  content: url('/icons/whatsapp-hover-dark.svg');
  opacity: 0.5;
}

.contactItem.dark img[alt="Whatsapp"]:hover {
  opacity: 1.0;
}

/*
  Gmail icons
*/
.contactItem img[alt="Gmail"] {
  /* content: url('/icons/gmail-normal.svg'); */
  content: url('/icons/gmail-hover.svg');
  opacity: 0.5;
}

.contactItem img[alt="Gmail"]:hover {
  opacity: 1.0;
}

.contactItem.dark img[alt="Gmail"] {
  content: url('/icons/gmail-hover-dark.svg');
  opacity: 0.5;
}

.contactItem.dark img[alt="Gmail"]:hover {
  opacity: 1.0;
}