.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10vh; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

.divider {
    border-color: rgba(194, 224, 255, 0.08);
    border-width: 0px 0px thin;
    width: 100vw;
    /* border-style: solid; */
}

.container {
    padding-top: 40px;
    padding-bottom: 80px;

    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    min-width: 1200px;
}

.leftContainer {
    display: block;
}

.title {
    font-weight: 700;
}

.subtitle {
    margin-bottom: 10px;
    font-weight: 400;
}

.socialMediaLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socialMediaIcon {
    width: 30px;
    height: 30px;
}

.contactMe {
    font-size: 2.5em;
}

/* styles for mobile devices */
@media (max-width: 900px) {
    .socialMediaIcon {
        width: 15px;
        height: 15px;
    }

    .contactMe {
        font-size: 20px;
    }
}