.footer {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
  }
  
.copyRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 700;
  width: 50%;
}

.contact {
  display: flex;
    flex-direction: row;
    color: black;
    font-weight: 700;
    width: 20%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.contact a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}