html,
body {
  padding: 0;
  margin: 0;
  font-family: "Zen Tokyo Zoo", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiTypography-root, .MuiButton-root {
  font-family: "Zen Tokyo Zoo", cursive;
}
