html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round';
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.MuiTypography-root, .MuiButton-root {
	font-family: 'Varela Round';
	color: palegoldenrod;
}

.dn {
	display: none;
}
