html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.MuiTypography-root, .MuiButton-root {
	font-family: 'Varela Round';
	color: palegoldenrod;
}
