.header {
  /*
  defines that header is fixed to the top of the page, with no
  space between the top of the page and the header, and no space between
  left and right of the page and the header
  */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  
  /* top&bottom: 0.5 viewport height; left&right: 25%viewport width */
  padding: 0.5vh 15vw;

  /* in case section two go out of box*/
  min-width: max-content;

  /* the display mode: inline, in a row, where section one is on leftmost side,
  and section two is on rightmost side */
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;

  z-index: 10;
  background-color: white;

  min-height: 7vh;
}

.header.dark {
  background-color: black;
}

.section_one {
  display: flex;
}

@font-face {
  font-family: 'Zen Tokyo Zoo';
  src: url('../public/fonts/ZenTokyoZoo-Regular.ttf'); /*URL to font*/
}

.logoContainer {
  position: relative;
  top: 25%;
  height: 50%;
}

.logoContainer a {
  font-family: "Zen Tokyo Zoo", cursive;
  text-transform: uppercase;
  color: black;
  font-size: 3vmin;
}

.logoContainer.dark a{
  color: white;
}

.section_two {
  display: flex;
}

.linkContainer a {
  top: 25%;
  max-height: 40%;

  color: black;

  padding: 0 0.8vw;

  cursor: pointer;

  font-weight: 600;
  font-size: 2vmin;
  letter-spacing: -1px;
  font-family: "Baskerville";
}

.linkContainer {
  display: flex;
  padding-right: 0.8vw;
}

.linkContainer a {
  position: relative;
}

.linkContainer.dark a {
  color: white;
}

.linkContainer a.active:before {
  visibility: visible;
  width: 80%;
}

.linkContainer a:before {
  content: "";

  position: absolute;
  left: 10%;

  width: 0;
  height: 2px;
  bottom: -4px;
  
  transition: all 0.3s ease-in-out;
}

.linkContainer a:before{
  background-color: black;
}

.linkContainer.dark a:before {
  background-color: white;
}

.linkContainer a:hover:before {
  visibility: visible;
  width: 80%;
}

.modeToggler {
  position: relative;
  top: 30%;

  width: 40px;
  height: 20px;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;

  padding: 2px;
  background-color: white;
}

.modeTogglerIcon {
  background-color: black;
  height: calc(100%);
  width: calc(40%);
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

.modeTogglerIcon.move {
  transform: translateX(20px);
}

.switch {
  top: 25%;
  height: min-content;
  padding-left: 0.8vw;
}

@media screen and (max-width: 750px) {
  .linkContainer {
    display: none;
  }

  .buttonWrapper {
    display: block !important;
  }
}

.buttonContainer {
  transition: background 0.35s ease-in-out 0s;
  padding-left: 75%;
  background: #ffed00;
}


.buttonContainer:hover {
  background: #1b002e;;
}

.buttonWrapper {
  height: 100%;
  padding-left: 75%;
  display: none;
}