.appBar {
    justify-content: space-around;
    flex-direction: column;
    background-color: #454545;
}

.toolBar {
    justify-content: space-between;
}

.iconButton {
    display: none;
}

.name {
    flex-grow: 0;
    display: block;
}

.navItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navItem:hover {
    background-color: rgba(144, 202, 249, 0.08);
}

.drawer {
    display: none;
}

/* styles for mobile devices */
@media (max-width: 900px) {
    .appBar {
        justify-content: space-between;
        flex-direction: row;
    }

    .toolBar {
        justify-content: flex-start;
    }

    .iconButton {
        display: block;
    }

    .name {
        flex-grow: 1;
        display: none;
    }

    .navItems {
        display: none;
    }

    .drawer {
        display: block;
    }
}