.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    font-size: 5em;
    color: palegoldenrod;
}

.type::after {
    content: '\_';
    animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
    50% {
        opacity: 0;
    }
}

/* styles for mobile devices */
@media (max-width: 900px) {
    .type {
        font-size: 1em;
    }
}