.componentWrapper {
    justify-content: center;
    background-color: white;
}

.componentWrapper.dark {
    background-color: black;
}

.main {
    display: flex;
    margin-top: 5rem;
    margin-left: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.main.dark {
    background-color: black;
    color: white;
}

.description {
    font-family: Sequel, sans-serif;
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 9.0rem;
    line-height: 140px;
}

.description.dark {
    color: white;
}

.page {
    margin-top: 14rem;
    margin-bottom: 14rem;
    scale: 1.5;
}
