.contentContainer {
    width: 80%;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main.dark {
    background-color: black;
}

.description {
    text-align: left;
}

.description {
    font-family: Sequel, sans-serif;
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 9.0rem;
    line-height: 140px;
    color: black;
}

.description.dark {
    color: white;
}