.contentContainer {
    width: 80%;
}

.main {
    min-height: 100vh;
    /* padding: 4rem 0; */
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}

.imageContainer {
    display: flex;
    padding: 2rem 0;
    position: relative;
    border-radius: 5%;
    width: 100%;
}

.image {
    width: 50%;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 5.0rem;
}
  
.title,
.description {
    text-align: left;
}

.description {
    font-family: Sequel, sans-serif;
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 9.0rem;
    line-height: 140px;
    color: black;
}

.title a {
    color: black;
    text-decoration: none;
}