.main {
    /* min-height: 100vh; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.contentContainer {
    width: 80%;
}


.main.dark {
    background-color: black;
}

.description {
    text-align: left;
}

.description {
    font-family: Sequel, sans-serif;
    /* margin: 4rem 0; */
    /* line-height: 1.5; */
    font-size: 10vw;
    /* line-height: 140px; */
    color: black;
}

.description.dark {
    color: white;
}