.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15em;
    width: 100vw;
}

.headerContainer {
    margin: 5em;
}

.projectsContainer {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw; */
    display: grid;
    /* margin-bottom: 70px; */
    /* grid-auto-columns: 1fr; */
    /* grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-areas:
        'Area1 Area1 Area1 Area1 Area1 Area2 Area2 Area2 Area2'
        'Area3 Area3 Area3 Area3 Area4 Area4 Area4 Area4 Area4'
        'Area5 Area5 Area5 Area5 Area5 Area6 Area6 Area6 Area6'
        'Area7 Area7 Area7 Area7 Area8 Area8 Area8 Area8 Area8';
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 500px 500px 500px 500px; */
}

.projectHeader {
    font-size: 2vw;
    white-space: nowrap;
}

@media (max-width: 900px) {
    .projectHeader {
        font-size: 20px;
    }
}