.contentContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    /* width: 100vw;
    height: 100vh; */
    /* position: fixed; */
    /* right: 0;  */
    /* left: 0; */
    /* top: 0; */
    /* bottom: 0; */
}

.main {
    /* margin-top: 8vh; */
    /* min-height: 100vh;
    display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    /* color: black; */
}

.main.dark {
    background-color: black;
    color: white;
}
/* 
.description {
    font-family: Sequel, sans-serif;
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 9.0rem;
    line-height: 140px;
    color: black;
}

.description.dark {
    color: white;
} */

.page {
    scale: 1;
    /* width: 90vw;
    height: 90vh; */
    display: flex;
    justify-content: center;
}
