.timeLine {
    width: 100%;
}

.timeLineHeader {
    font-size: 2vw;
}

.timeLineOppositeContent {
    font-size: 1.5vw;
    color: #9b59b6;
}

.primary {
    font-size: 1.5vw;
    color: #2ecc71;
}

.secondary {
    font-size: 0.75vw;
    color: #f39c12;
}

/* styles for mobile devices */
@media (max-width: 900px) {
    .timeLine {
        padding-left: 0;
        padding-right: 0;
    }

    .timeLineHeader {
        font-size: 38px;
    }

    .timeLineOppositeContent {
        font-size: 13px;
    }

    .primary {
        font-size: 23px;
    }

    .secondary {
        font-size: 13px;
    }
}