.timeLine {
    width: 100%;
}

.timeLineHeader {
    font-size: 2vw;
}

.timeLineOppositeContent {
    font-size: 0.8vw;
    /* color: #9b59b6; */
    color: palegoldenrod;
}

.primary {
    font-size: 1.8vw;
    /* color: #2ecc71; */
    color: #F78B7F;
}

.secondary {
    font-size: 0.8vw;
    /* color: #f39c12; */
    /* color: #7B5B6F; */
    color: #6D6A7F;
    filter: brightness(140%);
}

/* styles for mobile devices */
@media (max-width: 900px) {
    .timeLine {
        padding-left: 0;
        padding-right: 0;
    }

    .timeLineHeader {
        font-size: 38px;
    }

    .timeLineOppositeContent {
        font-size: 13px;
    }

    .primary {
        font-size: 23px;
    }

    .secondary {
        font-size: 13px;
    }
}