.timeLine {
    width: 100%;
}

.timeLineHeader {
    font-size: 2vw;
}

.timeLineOppositeContent {
    font-size: 0.8vw;
    color: palegoldenrod;
}

.primary {
    font-size: 1.8vw;
    color: #F78B7F;
}

.secondary {
    font-size: 0.8vw;
    color: #6D6A7F;
    filter: brightness(140%);
}

.icon {
    color: white;
}

/* styles for mobile devices */
@media (max-width: 900px) {
    .timeLine {
        padding-left: 0;
        padding-right: 0;
    }

    .timeLineHeader {
        font-size: 20px;
    }

    .timeLineOppositeContent {
        font-size: 7px;
    }

    .primary {
        font-size: 13px;
    }

    .secondary {
        font-size: 7px;
    }
}